<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<head>
    <title>
        Class Detail
    </title>
</head>
<body>
<div layout:fragment="page-content">

    <div class="row est esb">
        <div class="col-lg-12">
            <div>
                <a class="btn btn-primary est" th:href="|/subject/class/${cls.id}/create|">Add Subject</a>
                <a class="btn btn-primary est" th:href="|/subject/class/${cls.id}/list|">Subject List</a>
                <a class="btn btn-primary est" th:href="|/fee/new/class/${cls.id}|">New Fee</a>
                <a class="btn btn-primary est" th:href="|/enrolment/create/${cls.id}|">Enroll</a>
                <a class="btn btn-primary est"
                   th:href="|/attendance/studentList/classId/${cls.id}/year/${session.currentYear}|">Take Attendance</a>
                <a class="btn btn-primary est" th:href="|/attendance/view/classId/${cls.id}|">View Attendance</a>
            </div>
        </div>
    </div>
    <div class="row est">
        <div class="col-lg-6">
            <h3 class="separator">Class Information</h3>
            <div>
                <table class="table table-striped">
                    <tr>
                        <td>Class</td>
                        <td th:text="${cls.name}"></td>
                    </tr>
                    <tr>
                        <td>Shift</td>
                        <td th:text="${cls.shift}"></td>
                    </tr>
                    <tr>
                        <td>Section</td>
                        <td th:text="${cls.section}"></td>
                    </tr>
                    <tr>
                        <td>Student Number</td>
                        <td th:text="${clsSize}"></td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="table table-striped">

                    <th style="width: 30%">Student Name</th>
                    <th>Role Number</th>
                    <th>Detail</th>
                    <th>Option</th>


                    <div th:each="each : ${classDetails}" class="separator">
                        <tr>
                            <td th:text="${each.studentName}"></td>
                            <td th:text="${each.roleNumber}"></td>
                            <td>
                                <a th:href="|/student/${each.studentId}/details/class/${cls.id}/year/${session.currentYear}|">Details</a>
                            </td>
                            <td><a th:href="|/fee/class/${cls.id}/student/${each.studentId}/|">Make Payment</a></td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>

        <div class="col-lg-6">
            <div>
                <h4>Fee Information</h4>
            </div>
            <table class="table table-striped">

                <th>ID</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Year</th>
                <th>Last Date</th>


                <div th:each="feeInfo : ${feeList}" class="separator">
                    <tr>
                        <td th:text="${feeInfo.id}"></td>
                        <td th:text="${feeInfo.type}"></td>
                        <td th:text="${feeInfo.amount}"></td>
                        <td th:text="${feeInfo.year}"></td>
                        <td th:text="${feeInfo.lastDate}"></td>
                    </tr>
                </div>
            </table>
        </div>


        <div class="col-lg-6">
            <div>
                <div class="separator"></div>
                <h4 class="separator">Subjects List</h4>
            </div>
            <table class="table table-striped">

                <th style="width: 30%">Subject Name</th>
                <th>Subject Id</th>
                <th>Input</th>
                <th>View</th>
                <div class="separator"></div>


                <div th:each="sub : ${list}">
                    <tr>
                        <td th:text="${sub.subjectName}"></td>
                        <td th:text="${sub.id}"></td>
                        <td><a id="v" th:href="|/exam/class/${classId}/subject/${sub.id}/|">Result</a></td>
                        <td><a id="i" th:href="|/exam/subject/${sub.id}/class/${classId}/result|">Result</a></td>
                    </tr>
                </div>
            </table>
        </div>
    </div>
</div>
</body>
</html>
