<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<head>
    <title>
        Class Detail
    </title>
</head>
<body>
<div layout:fragment="page-content">

    <div class="row est">
        <div class="col-lg-6">
            <a class="btn btn-primary" th:href="|/subject/class/${cls.id}/create|">Add Subject</a>
            <a class="btn btn-primary" th:href="|/subject/class/${cls.id}/list|">Subject List</a>
            <a class="btn btn-primary" th:href="|/fee/new/class/${cls.id}|">New Fee</a>
            <h3 class="separator">Class Information</h3>

                <div>
                    <table class="table table-striped">
                        <tr>
                            <td>Class</td>
                            <td th:text="${cls.name}"></td>
                        </tr>
                        <tr>
                            <td>Shift</td>
                            <td th:text="${cls.shift}"></td>
                        </tr>
                        <tr>
                            <td>Section</td>
                            <td th:text="${cls.section}"></td>
                        </tr>
                        <tr>
                            <td>Student Number</td>
                            <td th:text="${clsSize}"></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table class="table table-striped">

                        <th style="width: 30%">Student Name</th>
                        <th>Role Number</th>
                        <th>Detail</th>


                        <div th:each="cls : ${classDetails}" class="separator">
                            <tr>
                                <td th:text="${cls.studentName}"></td>
                                <td th:text="${cls.roleNumber}"></td>
                                <td><a th:href="|/student/${cls.studentId}/details|">Details</a></td>
                            </tr>
                        </div>
                    </table>
                </div>
        </div>
        <div class="col-lg-6">
            <div>
                <h4>Fee Information</h4>
            </div>
            <table class="table table-striped">

                <th>ID</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Year</th>
                <th>Last Date</th>


                <div th:each="feeInfo : ${feeList}" class="separator">
                    <tr>
                        <td th:text="${feeInfo.id}"></td>
                        <td th:text="${feeInfo.type}"></td>
                        <td th:text="${feeInfo.amount}"></td>
                        <td th:text="${feeInfo.year}"></td>
                        <td th:text="${feeInfo.lastDate}"></td>
                    </tr>
                </div>
            </table>
        </div>
    </div>
</div>
</body>
</html>
