<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<body>
<div layout:fragment="page-content">

    <div class="row">
        <div class="col-lg-12">
            <h1>
                Update Contact Info
            </h1>
        </div>
    </div>

    <div class="row separator">
        <div class="col-md-3"></div>
        <div class="col-md-6 est esb">
            <form class="contactInfoUpdate" role="form" method="patch" action="/contactInformations">

                <div class="form-group">
                    <div>
                        <div>
                            <label>Name : </label>
                            <input th:required="required" type="text" class="form-control" name="name" id="name"
                                   th:value="${contact.name}"/>
                        </div>
                        <div>
                            <label>Address : </label>
                            <input th:required="required" type="text" class="form-control" name="address" id="address"
                                   th:value="${contact.address}"/>
                        </div>
                        <div>
                            <label>Phone 1 : </label>
                            <input th:required="required" type="text" class="form-control" name="phone_1" id="phone_1"
                                   th:value="${contact.phone_1}"/>
                        </div>
                        <div>
                            <label>Phone 2 : </label>
                            <input th:required="required" type="text" class="form-control" name="phone_2" id="phone_2"
                                   th:value="${contact.phone_2}"/>
                        </div>
                        <div>
                            <label>Phone 3 : </label>
                            <input th:required="required" type="text" class="form-control" name="phone_3" id="phone_3"
                                   th:value="${contact.phone_3}"/>
                        </div>
                    </div>
                </div>

                <input type="hidden" class="form-control" name="id" th:value="${contact.id}"/>
                <input type="hidden" class="form-control studentId" name="studentId" th:value="${studentId}"/>
                <input type="submit" value="Update" class="btn btn-primary"/>

            </form>
        </div>
    </div>
</div>
</body>
</html>
