<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<body>
<div layout:fragment="page-content">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-group">
                <div>
                    <div>
                        <label>Name : </label>
                        <label th:text="${contact.name}"></label>
                    </div>
                    <div>
                        <label>Address : </label>
                        <label th:text="${contact.address}"></label>
                    </div>
                    <div>
                        <label>Phone 1 : </label>
                        <label th:text="${contact.phone_1}"></label>
                    </div>
                    <div>
                        <label>Phone 2 : </label>
                        <label th:text="${contact.phone_2}"></label>
                    </div>
                    <div>
                        <label>Phone 3 : </label>
                        <label th:text="${contact.phone_3}"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
