<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/secure"
      lang="en">
<body>
<div layout:fragment="page-content">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Student Enrollment
            </h1>
        </div>
    </div>
    <div class="row separator">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 est esb">
            <form class="enrolmentCreate" role="form" method="post" action="/enrolments">
                <div>
                    <div>
                        <label>Student ID</label>
                        <input th:required="required" type="text" class="form-control"  id="studentId" name="studentId" placeholder=""/>
                    </div>
                    <div>
                        <label>Class ID</label>
                        <input th:required="required" disabled="disabled" type="text" class="form-control" name="classId" id="classId" th:value="${classId}" placeholder=""/>
                    </div>
                    <div>
                        <label>Role Number</label>
                        <input th:required="required" type="text" class="form-control" id="roleNumber" name="roleNumber" placeholder=""/>
                    </div>
                    <div>
                        <label>Year</label>
                        <input th:required="required" type="text" class="form-control" id="year" name="year" th:value="${session.currentYear}" placeholder=""/>
                    </div>

                </div>
                <div>

                    <input type="submit" value="Enroll" class="btn btn-primary est"/>
                    <a class="btn btn-primary est" th:href="|/class/detail/${classId}/year/${session.currentYear}|">Back</a>

                </div>

            </form>

        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
</body>
</html>
