<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<body>
<div layout:fragment="page-content">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align: center;">Error</h1>
            <br/><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">


        </div>
        <div class="col-lg-6"></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div style="height: 450px">_</div>
        </div>
    </div>
</div>
</body>
</html>
