<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<body>
<div layout:fragment="page-content">

    <div style="padding-bottom: 512px">
        homePage

        <div class="row">
            <div class="col-lg-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Total number of classes</td>
                        <td th:text="${totalNumberOfClasses}"></td>
                    </tr>
                    <tr>
                        <td>Total number of students</td>
                        <td th:text="${totalNumberOfStudents}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-8">
            </div>
        </div>
    </div>
</div>
</body>
</html>
