<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<body>
<section layout:fragment="content">
    <h3>Organization Add New</h3>
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form class="organizationCreate" action="/organizations" method="post">
            <div>
                <label>Organization Name</label>
                <input type="text" value="" name="name"/>
            </div>
            <div>
                <label>Establishment Year</label>
                <input type="number" value="" name="establishmentYear"/>
            </div>
            <div>
                <label>Founder Name</label>
                <input type="text" value="" name="organizationInfo.founderName"/>
            </div>
            <div>
                <label>Founder Description</label>
                <input type="text" value="" name="organizationInfo.founderDescription"/>
            </div>
            <input type="submit" value="Save"/>
        </form>
    </div>
    This is main Content section<br/>
    Date: 14-08-2016<br/>
    <table>
        <tr>
            <td>Total Student</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Total Teacher</td>
            <td>10</td>
        </tr>
    </table>
</section>
</body>
</html>
