<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<head>
    <title>
        Student List
    </title>
</head>
<body>
<div layout:fragment="page-content">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Result Update
            </h1>
        </div>
    </div>


    <div class="row separator">
        <div class="col-lg-8 est esb">

            <input type="hidden" name="clsId" id="clsId" th:value="${object.classId}" />

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6 est">
                                Exam Type
                            </div>
                            <div class="col-lg-6 est">
                                <select id="examType" class="form-control" th:field="*{object.examType}">
                                    <option th:each="state : ${T(com.lynas.model.util.ExamType).values()}"
                                            th:value="${state}"
                                            th:text="${state}">
                                    </option>
                                </select>
                            </div>
                            <!--<div class="col-lg-6 est">
                                Subject
                            </div>
                            <div class="col-lg-6 est">
                                <select id="subject" class="form-control">
                                    <option th:each="sub : ${subjectList}"
                                            th:value="${sub.id}"
                                            th:text="${sub.subjectName}"></option>
                                </select>
                            </div>-->
                            <div class="col-lg-6 est">
                                Total Mark
                            </div>
                            <div class="col-lg-6 est">
                                <input type="input" class="form-control" name="totalMark" id="totalMark" th:value="${object.totalNumber}" />
                            </div>
                            <div class="col-lg-6 est">
                                Percentile
                            </div>
                            <div class="col-lg-6 est">
                                <input type="input" class="form-control" name="percentile" id="percentile" th:value="${object.percentile}" />
                            </div>
                            <div class="col-lg-6 est">
                                Date
                            </div>
                            <div class="col-lg-6 est">
                                <input type="input" class="form-control date" name="date" id="date"/>
                            </div><div class="col-lg-6 est">
                            Year
                        </div>
                            <div class="col-lg-6 est">
                                <input type="input" class="form-control" name="year" id="year" th:value="${session.currentYear}"/>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


            <form  id="form_submit" role="form" method="post" action="/exams">
                <table class="table table-striped separator">

                    <th>Role Number</th>
                    <th>Student Name</th>
                    <th>Mark Obtain</th>
                    <th>Present</th>


                    <div th:each="std, stat : ${object.resultOfASubjectByExamTypeDate}">
                        <tr>
                            <td th:text="${std.rollNumber}"></td>
                            <td th:text="${std.name}"></td>
                            <td><input type="input" name="markObtain" id="i" th:value="${std.obtainMark}"/></td>
                            <td><input type="checkbox" name="isPresent" id="p" th:checked="${std.p}" /></td>
                            <td><input type="hidden" name="studentId" th:value="*{object.resultOfASubjectByExamTypeDate[__${stat.index}__].studentId}"/> </td>
                            <td><input type="hidden" name="examId" th:value="*{object.resultOfASubjectByExamTypeDate[__${stat.index}__].examId}" /></td>
                        </tr>
                    </div>
                </table>
                <input type="submit" class="btn btn-primary pull-right" id="submit_btn" value="Save"/>
            </form>
        </div>
    </div>

</div>



</body>
</html>
