<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<head>
    <title>
        Class Detail
    </title>
</head>
<body>
<div layout:fragment="page-content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form method="get" action="#" class="studentResult">
                        <div class="form-group">
                            <label>Student Id</label>
                            <input th:required="required" type="text" class="form-control" id="studentId"
                                   name="studentId"
                                   placeholder=""/>
                        </div>
                        <div class="form-group">
                            <label>Year</label>
                            <input th:required="required" type="text" class="form-control" id="year" name="year"
                                   placeholder="2017"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Class</label>
                            <select id="clsId" name="classId" class="form-control">
                                <option th:each="cls : ${classList}"
                                        th:value="${cls.id}"
                                        th:text="${cls.name}"></option>
                            </select>
                        </div>
                        <input type="submit" class="from-control" value="Select"/>

                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div id="show" class="panel-body">
            <div class="form-group">
                <label>Name</label>
                <div id="name"></div>
            </div>
            <div class="form-group">
                <label>Roll Number</label>
                <div id="roll"></div>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                    <th>Subject</th>
                    <th>QUIZ_1</th>
                    <th>QUIZ_2</th>
                    <th>FIRST_TERM</th>
                    <th>SECOND_TERM</th>
                    <th>FINAL</th>
                    <th>Total</th>
                    </thead>
                    <tbody id="result">

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

</body>
</html>



