<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<body>
<div layout:fragment="page-content">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form class="studentUpdate" role="form" method="patch" action="/students">
                <div>
                    <label>First Name</label>
                    <input required type="text" class="form-control" id="firstName" name="firstName"
                           th:value="${student.person.firstName}">
                </div>
                <div>
                    <label>Last Name</label>
                    <input required type="text" class="form-control" name="lastName" id="lastName"
                           th:value="${student.person.lastName}">
                </div>
                <div>
                    <label>Date of birth</label>
                    <input required type="text" class="form-control" id="dateOfBirth" name="dateOfBirth"
                           th:value="${student.person.dateOfBirth}">
                </div>
                <div>
                    <label for="sex">Select Gender</label>
                    <select class="form-control" id="sex" name="sex">
                        <option selected th:text="${student.person.sex}"></option>
                        <option>MALE</option>
                        <option>FEMALE</option>
                        <option>OTHER</option>
                    </select>
                </div>
                <div>
                    <label for="religion">Select Religion</label>
                    <select class="form-control" id="religion" name="religion">
                        <option selected th:text="${student.person.religion}"></option>
                        <option>MUSLIM</option>
                        <option>HINDU</option>
                        <option>CHRISTAN</option>
                        <option>BUDDHA</option>
                        <option>OTHER</option>
                    </select>
                </div>
                <input type="hidden" class="form-control" name="studentId" th:value="${student.id}">
                <input type="submit" value="Update Student" class="btn btn-primary"/>

            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
</body>
</html>
