<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/secure"
      lang="en">
<body>
<div layout:fragment="page-content">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Create Student
            </h1>
        </div>
    </div>
    <div class="row separator">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 est esb">
            <form class="studentCreate" role="form" method="post" action="/students">
                <div>
                    <div>
                        <label>First Name</label>
                        <input th:required="required" type="text" class="form-control"  id="firstName" name="firstName" placeholder=""/>
                    </div>
                    <div>
                        <label>Last Name</label>
                        <input th:required="required" type="text" class="form-control" name="lastName" id="lastName" placeholder=""/>
                    </div>
                    <div>
                        <label>Date of birth</label>
                        <input th:required="required" type="text" class="form-control date" id="dateOfBirth" name="dateOfBirth" placeholder="15-12-1989"/>
                    </div>
                    <div>

                        <label for="sex">Select Gender</label>
                        <select class="form-control" id="sex" name="sex">
                            <option>MALE</option>
                            <option>FEMALE</option>
                            <option>OTHER</option>
                        </select>
                    </div>
                    <div>
                        <label for="religion">Select Religion</label>
                        <select class="form-control" id="religion" name="religion">
                            <option>MUSLIM</option>
                            <option>HINDU</option>
                            <option>CHRISTAN</option>
                            <option>BUDDHA</option>
                            <option>OTHER</option>
                        </select>
                    </div>
                </div>
                <input type="submit" value="Create Student" class="btn btn-primary est"/>

            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
</body>
</html>
