<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<body>
<div layout:fragment="page-content">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <form class="studentAddContactInfo" role="form" method="post"
                  action="/students/add_contact_info">
                <input type="hidden" class="form-control" name="studentId" th:value="${studentId}">
                <div class="form-group">
                    <label>Care of</label>
                    <input type="text" class="form-control" name="name" placeholder="e.g. One">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input th:required="required" type="text" class="form-control" name="address" placeholder="Jhiltuli">
                </div>
                <div class="form-group">
                    <label>Phone 1</label>
                    <input th:required="required" type="text" class="form-control" name="phone_1" placeholder="0171....">
                </div>
                <div class="form-group">
                    <label>Phone 2</label>
                    <input type="text" class="form-control" name="phone_2" placeholder="0181....">
                </div>
                <div class="form-group">
                    <label>Phone 3</label>
                    <input type="text" class="form-control" name="phone_3" placeholder="0191....">
                </div>
                <div class="form-group">
                    <label for="sel1">Select Contact Type</label>
                    <select class="form-control" id="sel1" name="contactType">
                        <option>PRIMARY</option>
                        <option>SECONDARY</option>
                        <option>BUSINESS</option>
                        <option>OTHER</option>
                        <option>PARENT</option>
                        <option>LEGAL_PARENT</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </form>
        </div>
        <div class="col-lg-3">
            ops
        </div>
    </div>
</div>
</body>
</html>
