<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<body>
<div layout:fragment="page-content">
    <div class="row">
        <div class="col-lg-6">
            <a class="btn btn-primary" th:href="|/subject/student/${student.id}/list|">Subject List</a>
            <a class="btn btn-primary" th:href="|/student/${student.id}/update|">Update Personal Information</a>
            <a class="btn btn-primary" th:href="|/student/${student.id}/addContactInformation|"> Add Contact Info</a>
            <h3 class="esb">Personal Information</h3>
            <table class="table table-striped">
                <tr>
                    <td>First Name</td>
                    <td th:text="${student.person.firstName}"></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td th:text="${student.person.lastName}"></td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td th:text="${#dates.format(student.person.dateOfBirth, 'dd-MMM-yyyy')}"></td>

                </tr>
                <tr>
                    <td>Sex</td>
                    <td th:text="${student.person.sex}"></td>
                </tr>
                <tr>
                    <td>Religion</td>
                    <td th:text="${student.person.religion}"></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <h4>Payment Paid</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        Type
                    </th>
                    <th>
                        Payment Date
                    </th>
                </tr>
                </thead>
                <tr th:each="each : ${studentFeeList}">
                    <td th:text="${each.feeInfo.type}"></td>
                    <td th:text="${each.paymentDate}"></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="row est">
        <div class="col-lg-6">
            <h3 class="separator">Contact Information</h3>

            <div th:each="contactInfo : ${student.person.contactInformationList}" class="separator">
                <table class="table table-striped">
                    <tr>
                        <td style="width: 30%">Care of</td>
                        <td th:text="${contactInfo.name}"></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td th:text="${contactInfo.address}"></td>
                    </tr>
                    <tr>
                        <td>phone_1</td>
                        <td th:text="${contactInfo.phone_1}"></td>
                    </tr>
                    <tr>
                        <td>phone_2</td>
                        <td th:text="${contactInfo.phone_2}"></td>
                    </tr>
                    <tr>
                        <td>phone_3</td>
                        <td th:text="${contactInfo.phone_3}"></td>
                    </tr>
                    <tr>
                        <td>contactType</td>
                        <td th:text="${contactInfo.contactType}"></td>
                    </tr>
                </table>
                <a th:href="|/contactInformation/${contactInfo.id}/update/${student.id}/student|">Update</a>
            </div>
        </div>
        <div class="col-lg-6">

            <br/>

            <br/>

        </div>
    </div>

    <div>
        <div class="panel panel-default">
            <div id="show" class="panel-body">
                <div class="form-group">
                    <label>Name</label>
                    <div id="name"></div>
                </div>
                <div class="form-group">
                    <label>Roll Number</label>
                    <div id="roll"></div>
                </div>
                <div>
                    <table class="table table-striped">
                        <thead>
                        <th>Subject</th>
                        <th>QUIZ_1</th>
                        <th>QUIZ_2</th>
                        <th>FIRST_TERM</th>
                        <th>SECOND_TERM</th>
                        <th>FINAL</th>
                        <th>Total</th>
                        </thead>
                        <tbody id="result">

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>
