<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<head>
    <title>
        Subjects
    </title>
</head>
<body>
<div layout:fragment="page-content">

    <div class="row est">
        <div class="col-lg-8">
            <h3>List of Subjects</h3>
            <label>Year(Result)</label>
            <input type="text" name="year" id="year" />
            <div class="separator"></div>

            <div>
                <table class="table table-striped">

                    <th style="width: 30%">Subject Name</th>
                    <th>Subject Id</th>
                    <th>Subject Description</th>
                    <th>Book Author</th>
                    <th>Result</th>
                    <div class="separator"></div>


                    <div th:each="sub : ${list}" >
                        <tr>
                            <td th:text="${sub.subjectName}"></td>
                            <td th:text="${sub.id}"></td>
                            <td th:text="${sub.subjectDescription}"></td>
                            <td th:text="${sub.subjectBookAuthor}"></td>
                            <td><a id="i"  th:href="|/exam/class/${classId}/subject/${sub.id}/|">Result</a></td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="application/javascript">
    $( document ).on('click', '#i' , function( ) {
        var url =  $(this).attr('href')+ "year/" + $('#year').val() + "/results" ;
        console.log(url);
        $.ajax({
            url: url,
            type: "GET",
            complete : function(){
                console.log(this.url);
            },
            success: function(xml){
                console.log("Hoise");
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });

        return false;
    });




</script>
