<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/secure"
      lang="en">
<body>
<div layout:fragment="page-content">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="classUpdate" role="form" method="patch" action="/classes">
                <br/>
                <br/>
                <input type="hidden" name="id" th:value="${course.id}"/>
                <div class="form-group">
                    <label>Class Name</label>
                    <input th:required="required" type="text" class="form-control" name="name" placeholder="e.g. One"
                           th:value="${course.name}" />
                </div>
                <div class="form-group">
                    <label for="sel1">Select Section</label>
                    <select class="form-control" id="sel1" name="section">
                        <option th:text="${course.section}"></option>
                        <option>SECTION_1</option>
                        <option>SECTION_2</option>
                        <option>SECTION_3</option>
                        <option>SECTION_4</option>
                        <option>SECTION_A</option>
                        <option>SECTION_B</option>
                        <option>SECTION_C</option>
                        <option>SECTION_D</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sel2">Select Shift</label>
                    <select class="form-control" id="sel2" name="shift">
                        <option th:text="${course.shift}"></option>
                        <option>MORNING</option>
                        <option>DAY</option>
                        <option>AFTERNOON</option>
                        <option>NIGHT</option>
                    </select>
                </div>
                <input type="submit" value="Create Class" class="btn btn-primary"/>
            </form>
        </div>
        <div class="col-md-4">


        </div>

    </div>
</div>
</body>
</html>
